.hero {
     width: 100%;
     height: 75vh;
     display: flex;
     align-items: center;
     justify-content: center;
}

.title-homepage {

     h1 {
          @apply opacity-0 font-bold text-3xl md:text-4xl lg:text-5xl tracking-wide;
     }

     .hello {
          opacity: 1;
     }
}