.spinner {
     @apply inline-block size-24 border-4 border-zinc-200 dark:border-zinc-700 border-t-teal-500 dark:border-t-teal-500 rounded-[50%];
     animation: spin 1s linear infinite;
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}